*{
    font-family:'poppins'
}
th{
    text-align: center;
    
    background-color:#00A9FF!important;
    color:white;
}
tr{
    text-align: center;
}
.heading{
    text-align: center;
    background-color:#00A9FF!important;
    color:white;
}
.graphBox{
    width:80%;
    height:70%;
    
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    
    
}
.graphBox .box{
    position: relative;
    background-color:#B9FBC0 ;
    padding: 5px;
    height: 100%;
    box-shadow: 0 7px 25px rgba(0,0,0,0.8);
    border-radius: 20px;
}
.filter_div{
    margin-top:20px;
    display: flex;
    align-items: center;
    width:55%;
    margin-left:20%;
    justify-content: space-between;
}
label{
    color: #00A9FF;
}
.heading{
    width: 75%;
    margin-left: 14%;

    }

    .side-menus {
        flex: 0 0 20%; /* Fixed 20% width */
        background-color: #f8f9fa; /* Light grey background for visibility */
        padding: 1rem; /* Padding inside the sidemenu */
        height: 100vh; /* Full viewport height */
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow for better separation */
    }    