<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='edit.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <h2 style="text-align: center;background-color: #00A9FF; color: white; padding:0.2rem; width: 70%;margin-left: auto; margin-right: auto;">Edit {{employee.emp_name}}'s Details</h2>
    <div class="container" style="padding: 2rem;">
        
        <form style="margin-left:10%;" action="{{ url_for('edit_employee', employee_id=employee.id) }}" method="POST">
            <div class="mb-3">
              <label for="emp_name" class="form-label">Employee Name</label>
              <input type="text" class="form-control" id="emp_name" name="emp_name" value="{{ employee.emp_name }}">
              
            </div>
            <div class="mb-3">
              <label for="emp_id" class="form-label">Employee ID</label>
              <input type="text" class="form-control" id="emp_id" name="emp_id" value="{{ employee.emp_id }}">
            </div>
            
            <div class="mb-3">
                <label for="emp_email" class="form-label">Email</label>
                <input type="email" class="form-control" id="emp_email" name="emp_email" value="{{ employee.emp_email }}">
            </div>
            <div class="mb-3">
                <label for="emp_project" class="form-label">Project</label>
                <select class="form-control" id="emp_project" name="emp_project">
                    
                    {% for project in projects %}
                        <option value="{{ project }}" {% if employee.emp_project == project %} selected {% endif %}>{{ project }}</option>
                    {% endfor %}
                </select>
            </div>  
            <div class="mb-3">
                <label for="emp_designation" class="form-label">Designation</label>
                <select class="form-control" id="emp_designation" name="emp_designation">
                    <option value="" disabled {% if not employee.emp_designation == designation %}selected{% endif %}>Select a designation</option>
                    {% for designation in designations %}
                        <option value="{{ designation }}" {% if employee.emp_designation == designation or employee.emp_designation.replace(' ', '').replace('.', '') == designation %} selected {% endif %}>{{ designation }}</option>
                    {% endfor %}
                </select>
            </div>  
            <div class="mb-3">
                <label for="emp_id" class="form-label">Reporting manager</label>
                <input type="text" class="form-control" id="rep_manager" name="rep_manager" value="{{ employee.reporting_manager }}">
            </div>
            
            <div style="display: flex; margin-left: 30%; gap: 4rem;">
                <button type="submit" class="btn btn-primary" style=" padding:10px;width:6rem; height:3rem;">Submit</button>
                <a class="btn btn-outline-secondary" href="{{url_for('team_dmax_table')}}" style=" padding:10px;width:6rem; height:3rem;">
                    <div style="display: flex; justify-content: space-between; padding:5px;">
                        <div>
                            <i class="fa-solid fa-backward" style="margin-right: 10px;"></i>
                        </div>
                        <div>Back</div>
                    </div>
                </a>
            </div>
          </form>
    </div>
</body>
</html>