<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/9fe3d1bfff.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9fe3d1bfff.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='sidemenu.css') }}">
</head>
<body>
    <div class="side-menus" style=" width:8%;display:flex; flex-direction: column; justify-content: space-between; height:90%;">
        
        <div class="inner_sidemenu_div">
            <a href="{{url_for('home')}}" class="menu-item" title="Form">
                <i class="fa-regular fa-envelope" ></i>
                
            </a>
        </div>
        <div class="inner_sidemenu_div">
            <a href="{{url_for('employee_info')}}" class="menu-item" title="Employee info">
                <i class="fa-solid fa-circle-info"></i>
                
            </a>
        </div>
        <div class="inner_sidemenu_div">
            <a href="{{url_for('employee_upload')}}" class="menu-item" title="Dmax Upload">
                <i class="fa-solid fa-upload"></i> 
                
            </a>
        </div>
        <div class="inner_sidemenu_div">
            <a href="{% if role == 'admin' %} {{ url_for('dmax_table') }} {% else %} {{ url_for('no_access') }} {% endif %}" class="menu-item" title="View Dmax">
                <i class="fa-solid fa-table"></i> 
                
            </a>
        </div>
        
        <div class="inner_sidemenu_div">
            <a href="{{url_for('logout')}}" class="menu-item" title="Logout">
                <i class="fa-solid fa-right-from-bracket"></i>
                
            </a>
        </div>
        
        
      </div>
</body>
</html>